 #container {
    margin:20px auto;
    width: 95%;
    max-width: 960px;
  }
  h1, h2 { color: #333; }
  h2 span { color: #aaa; }
  h3, p { color: #555; }
  a {
    text-decoration: none;
  }
  .conf-link {
    color: #aaa;
    display: inline-block;
    padding-top:22px;
  }
  .link {
    color: #555;
    text-decoration: underline;
  }
  .grey {
    color: #aaa;
  }
  h2 > small { color: #ccc;font-weight:normal; }
  .floatright {
margin-top:10px;float:right;
  }
#footer {
color: #ccc;
  padding-top:20px;
  }
  #footer a {
    color: #aaa;
  }
